.client-title {
  position: absolute;
  margin-top: 5%;
  margin-bottom: 0;
  margin-left: 3%;
  font-weight: 400;
  color: rgb(242, 242, 242);
}

.add-clients {
  position: absolute;
  display: flex;
  align-items: center;
  right: 3%;
  top: 90px;
  background-color: rgb(18, 18, 18);
  padding: 10px;
  cursor: pointer;
  color: rgb(235, 234, 235);
  border-radius: 20px;
}

.projects-container {
  margin-top: 150px;
  color: rgb(235, 234, 235);
  margin-left: 3%;

  .client-card {
    display: flex;
    background-color: rgb(18, 18, 18);
    border-radius: 25px;
    margin-right: 2%;

    &:not(:last-child) {
      margin-bottom: 2%;
    }

    .infos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    .infos-projects {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      padding: 0;
      margin-top: 0;

      li {
        list-style: none;
        margin-top: 15px;
        &:not(:last-child) {
          margin-right: 8%;
        }
      }
      .client-id,
      .project-id,
      .contact {
        display: flex;
        flex-direction: column;
      }
      .li-title {
        color: rgb(80, 82, 87);
      }
      .id,
      .mail {
        margin-top: 10px;
      }
    }
    .img-project {
      height: 20vh;
      margin-right: 6%;
      padding: 10px;
      border-radius: 24px;
    }
  }
}

@media (max-width: 950px) {
  .client-title {
    text-align: center;
    margin-top: 5%;
  }
  .add-clients {
    top: 125px;
  }
  .projects-container .client-card {
    flex-direction: column;
    align-items: center;

    .infos {
      align-items: center;
    }

    .infos-projects {
      flex-wrap: wrap;
      justify-content: center;

      li {
        margin-top: 10px;
        &:not(:last-child) {
          margin-right: 5%;
        }
      }
    }

    .img-project {
      height: 15vh;
      margin-right: 0;
      margin-top: 15px;
    }
  }
}

@media (max-width: 768px) {
  .add-clients {
    right: 2%;
    top: 60px;
  }

  .projects-container {
    margin-top: 8%;
    margin-left: 2%;

    .client-card {
      flex-direction: column;
      align-items: center;
      margin-right: 0;

      .infos {
        align-items: center;
      }

      .infos-projects {
        flex-wrap: wrap;

        li {
          margin-top: 10px;
          &:not(:last-child) {
            margin-right: 5%;
          }
        }
      }

      .img-project {
        height: 15vh;
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 480px) {
  .client-title {
    text-align: center;
    font-size: 24px;
    margin-top: 13%;
  }
  .add-clients {
    top: 100px;
  }

  .projects-container {
    margin-top: 25%;

    .client-card {
      margin-bottom: 2%;

      .infos-projects {
        li {
          align-items: center;
          margin-top: 5px;
          &:not(:last-child) {
            margin-right: 4%;
          }
        }
      }

      .img-project {
        height: 10vh;
        margin-top: 10px;
      }
    }
  }
}
