.home_title {
  position: absolute;
  margin-top: 5%;
  margin-bottom: 0;
  margin-left: 3%;
  font-weight: 400;
  color: rgb(242, 242, 242);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5%;
  justify-content: center;

  .home-container {
    margin-top: 5%;
    background-color: $backgroundCard;
    border-radius: 32px;
    height: 30vh;
    width: 31%;

    &:not(:last-child) {
      margin-right: 1%;
    }
  }

  .title {
    color: $textColor;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-top: 5%;
  }

  .desc {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    color: $descColor;
  }

  .lastest-test,
  .in-progress-test {
    .list-test {
      display: flex;
      flex-direction: column;
      margin-top: 5%;
      margin-left: 2%;

      justify-content: space-between;
      text-align: left;
      list-style: none;
      padding: 0;
      font-size: 1rem;
      color: $descColor;

      .icon {
        height: 2vh;
        margin-right: 1%;
        margin-left: 1%;
        color: $textColor;
      }

      .pass {
        color: rgb(87, 180, 124);
      }
      .fail {
        color: rgb(210, 84, 45);
      }
      .in-progress {
        color: rgb(222, 88, 46);
      }
    }

    .list-test li {
      margin-bottom: 2%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 950px) {
  .home_title {
    margin-left: 10%;
  }

  .cards-container {
    margin-top: 10%;
    .home-container {
      width: 80%;
      margin-bottom: 3%;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 480px) {
  .home_title {
    text-align: center;
    font-size: 24px;
    margin-top: 13%;
  }

  .cards-container {
    margin-top: 20%;

    .home-container {
      margin-top: 5%;
      height: auto;
    }

    .title {
      font-size: 1rem;
    }

    .desc {
      font-size: 2.5rem;
    }

    .lastest-test,
    .in-progress-test {
      .list-test {
        font-size: 1rem;
      }

      .icon {
        height: 1.5vh;
      }
    }
  }
}
