.modal {
  display: block;
  position: fixed;

  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15% auto;
    padding: 20px;
    background-color: rgb(18, 18, 18);
    border-radius: 20px;
    width: 80%;
    max-width: 600px;

    .close {
      position: absolute;
      top: 295px;
      right: 35%;
      color: rgb(141, 145, 154);
      font-size: 30px;
      font-weight: bold;
      cursor: pointer;
    }
    .modal-title {
      font-weight: 400;
    }
    .form {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-top: 30px;

      .client-name,
      .project-name,
      #image-upload,
      .contact-infos {
        width: 100%;
        height: 5vh;
        border-radius: 8px;
        background: transparent;
        text-transform: uppercase;
        border: 1px solid rgb(141, 145, 154);

        &:not(:last-child) {
          margin-bottom: 30px;
        }
        &:focus {
          color: rgb(141, 145, 154);
        }
      }

      .add-img {
        margin-bottom: 10px;
        color: rgb(141, 145, 154);
      }
      input[type="file"] {
        position: relative;
        overflow: hidden;
        color: transparent;
        cursor: pointer;
      }
      input[type="text"] {
        color: rgb(141, 145, 154);
      }

      input[type="file"]::before {
        display: inline-block;
        border: none;
        padding: 8px 20px;
        outline: none;
        white-space: nowrap;
        cursor: pointer;
        font-size: 16px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
      }

      input[type="file"]::-webkit-file-upload-button {
        visibility: hidden;
      }
      .submit {
        width: 30%;
        height: 5vh;
        background-color: rgb(217, 172, 78);
        cursor: pointer;
        margin: 0 auto;
        border: none;
        border-radius: 20px;
      }
    }
  }
}

@media (max-width: 950px) {
  .modal {
    .modal-content {
      padding: 15px;
      max-width: 500px;

      .close {
        top: 130px;
        right: 20%;
      }

      .form {
        margin-top: 20px;

        .client-name,
        .project-name,
        #image-upload,
        .contact-infos {
          height: 4vh;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .modal {
    .modal-content {
      padding: 15px;
      max-width: 500px;

      .close {
        top: 120px;
        right: 20%;
      }

      .form {
        margin-top: 20px;

        .client-name,
        .project-name,
        #image-upload,
        .contact-infos {
          height: 4vh;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .modal {
    .modal-content {
      padding: 10px;
      max-width: 300px;
      .close {
        top: 60px;
        right: 10%;
        font-size: 25px;
      }
      .form {
        margin-top: 20px;

        .client-name,
        .project-name,
        #image-upload,
        .contact-infos {
          height: 4vh;
        }

        .submit {
          width: 50%;
        }
      }
    }
  }
}
