.nav {
  display: flex;

  justify-content: center;
  height: 90vh;
  margin-top: 50px;
  border-radius: 20px;
  width: 15vw;
  background-color: rgb(18, 18, 18);

  .nav-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    height: 70%;
    list-style: none;
    width: 90%;
    :hover {
      transition: 0.3s;
      color: rgb(235, 234, 235);
      background-color: rgb(6, 6, 6);
      border-radius: 20px;
    }
    .logo {
      height: 60px;
      width: 50px;
      margin: 0 auto;
      padding: 0;
      color: rgb(217, 172, 78);
    }
    a {
      display: flex;
      align-items: center;
      color: rgb(141, 145, 154);
      text-decoration: none;
    }

    .icon {
      height: 3vh;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
