.recharts-responsive-container {
  margin-left: 30px;
}
.tested {
  margin-top: -20%;
}

@media (max-width: 950px) {
  .recharts-responsive-container {
    margin-top: 2%;
    margin-left: 30px;
  }
  .tested {
    margin-top: -10%;
  }
}
@media (max-width: 850px) {
  .recharts-responsive-container {
    margin-top: 18%;
    margin-left: 30px;
  }
  .tested {
    margin-top: -10%;
  }
}

@media (max-width: 780px) {
  .recharts-responsive-container {
    margin-top: 14%;
    margin-left: 30px;
  }
  .tested {
    margin-top: -10%;
  }
}
