body {
  background-color: rgb(6, 6, 6);
  font-family: "Inter";
}
.main-container {
  display: flex;
  justify-content: space-between;
  color: white;
}

.children {
  width: 100%;
}
@media (max-width: 1024px) {
  body {
    overflow: visible;
  }
  .main-container {
    flex-direction: column;
  }
}
